.box1 {
    background-color: black;
    font-size: 80px;
    font-family: 'Georgia', Times, serif;
    margin: 5px;
}

.box2 {
    background-color: black;
    font-size: 80px;
    font-family: 'Georgia', Times, serif;    
    margin: 5px;
}

.box3 {
    background-color: black;
    font-size: 80px;
    font-family: 'Georgia', Times, serif;
    margin: 5px;
}